node_modules
dist
dist-ssr
*.local

.env
.env.*.local
.env.local

.DS_Store
*.log
*.tsbuildinfo

.vite
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Supabase
supabase/.branches
supabase/.temp

# JetBrains IDEs
.idea